<%- include('../navbarAdmin') %>
  
  <main>
    <h1>Demande</h1>
    <p>Welcome to Demande</p>
    <% if (locals.alert) { %>
      <div class="alert alert-<%= locals.alert.type %>" role="alert">
          <%= locals.alert.text %>
      </div>
    <% } %>
    <% if (locals.norequest) { %>
          <%= locals.norequest.text %>
    <% } %>
    <% if (locals.results) { %>
      <% results.forEach(element => { %>
        <%= element.NomTroupe %>
        <%= element.NumCarte %>
        <form method="POST" action="/admin/demande/accept/<%= element.NumCarte %>">
          <button class="btn btn-success" type="input">
              Accepter
          </button>
        </form>
        <form method="POST" action="/admin/demande/delete/<%= element.NumCarte %>?_method=DELETE">
          <button class="btn btn-danger" type="input">
              Supprimer
          </button>
        </form>
      <% }) %>
    <% } %>
  </main>
  </body>
</html>