<%- include('../navbarAdmin') %>

  <main>
    <h1>Troupe</h1>
    <p>Welcome to Troupe</p>
    <% if (locals.alert) { %>
      <div class="alert alert-<%= locals.alert.type %>" role="alert">
          <%= locals.alert.text %>
      </div>
    <% } %>
    <% if (locals.norequest) { %>
          <%= locals.norequest.text %>
    <% } %>
    <% if (locals.results) { %>
      <% results.forEach(element => { %>
        <%= element.NomTroupe %>
        <form method="POST" action="/admin/troupe/delete/<%= element.NomTroupe %>?_method=DELETE">
          <button class="btn btn-danger" type="input">
              Supprimer
          </button>
        </form>
      <% }) %>
    <% } %>
  </main>
  </body>
</html>