<!DOCTYPE html>
<html>
  <head>
    <title>Compte</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  </head>
  <body>
    <a href="/newuser/deconnexion">
      <button class="btn btn-danger" type="button">
            Deconnexion
      </button>
    </a>
    <h1>Compte</h1>
    <p>Welcome to Compte</p>
    <% if (locals.alert) { %>
        <div class="alert alert-<%= locals.alert.type %>" role="alert">
            <%= locals.alert.text %>
        </div>
      <% } %>
      <% if (locals.results) { %>
        <form method="POST" action="/newuser/compte?_method=PUT">
            <input type="text" name="LastName" placeholder="Nom" value="<%= locals.results[0].Nom %>" required>
            <input type="text" name="FirstName" placeholder="Prénom" value="<%= locals.results[0].Prenom %>" required>
            <input type="date" name="BirthDate" placeholder="Date de naissance" value="<%= locals.results[0].DateNaissance %>" required>
            <input type="password" name="Password" placeholder="Mot de passe" required>
            <input type="password" name="VerifyPassword" placeholder="Vérification mot de passe" required>
            <input type="submit"> 
        </form>
      <% } %>
      <form method="POST" action="/newuser/suppression?_method=DELETE">
        <button class="btn btn-danger" type="input">
            Supprimer compte
        </button>
      </form>
      <a href="/newuser/demande">
        <button class="btn btn-danger" type="button">
            Retour
        </button>
      </a>
  </body>
</html>