<%- include('../navbarChef') %>

  <main>
    <h1>Evenements</h1>
    <p>Welcome to Evenements</p>
    <% if (locals.alert) { %>
        <div class="alert alert-<%= locals.alert.type %>" role="alert">
            <%= locals.alert.text %>
        </div>
      <% } %>
      <% if (locals.norequest) { %>
            <%= locals.norequest.text %>
      <% } %>
      <% if (locals.results) { %>
        <% results.forEach(element => { %>
          <%= element.DateEvenement %>
          <%= element.NomType_E %>
          <form method="POST" action="/chef/evenement/delete/<%= element.IdEvenement %>?_method=DELETE">
            <button class="btn btn-danger" type="input">
                Supprimer
            </button>
          </form>
        <% }) %>
      <% } %>
      <form method="POST" action="/chef/evenement">
        <input type="datetime-local" name="DateEvenement" placeholder="Date et heure" required>
        <select name="IdType_E">
            <option value="1">Weekend Patrouille</option>
            <option value="2">Weekend Troupe</option>
            <option value="3">Weekend HP</option>
            <option value="4">Sortie Patrouille</option>
            <option value="5">Sortie Troupe</option>
            <option value="6">Sortie HP</option>
            <option value="7">District</option>
        </select>
        <input type="submit"> 
      </form>
  </main>
  </body>
</html>