<%- include('../navbarChef') %>

  <main>
    <h1>Patrouille</h1>
    <p>Welcome to Patrouille</p>
    <% if (locals.alert) { %>
        <div class="alert alert-<%= locals.alert.type %>" role="alert">
            <%= locals.alert.text %>
        </div>
      <% } %>
      <% if (locals.norequest) { %>
            <%= locals.norequest.text %>
      <% } %>
      <% if (locals.results && locals.namepatrol) { %>
        <% results.forEach(element => { %>
          <%= element.NumCarte %>
          <%= element.Nom %>
          <%= element.Prenom %>
          <form method="POST" action="/chef/patrouille/modifier/<%= locals.namepatrol %>/delete/<%= element.NumCarte %>?_method=DELETE">
            <button class="btn btn-danger" type="input">
                Supprimer
            </button>
          </form>
        <% }) %>
      <% } %>
      <form method="POST" action="/chef/patrouille/modifier/<%= locals.namepatrol %>?_method=PUT">
        <input type="text" name="NumCarte" placeholder="Numéro de la carte scout" required>
        <input type="submit"> 
      </form>
  </main>
  </body>
</html>