<%- include('../navbarChef') %>

  <main>
    <h1>Patrouille</h1>
    <p>Welcome to Patrouille</p>
    <% if (locals.alert) { %>
        <div class="alert alert-<%= locals.alert.type %>" role="alert">
            <%= locals.alert.text %>
        </div>
      <% } %>
      <% if (locals.norequest) { %>
            <%= locals.norequest.text %>
      <% } %>
      <% if (locals.results) { %>
        <% results.forEach(element => { %>
          <%= element.NomPatrouille %>
          <a href="/chef/patrouille/modifier/<%= element.NomPatrouille %>">
            <button class="btn btn-success" type="button">
                Modifier
            </button>
          </a>
          <form method="POST" action="/chef/patrouille/delete/<%= element.NomPatrouille %>?_method=DELETE">
            <button class="btn btn-danger" type="input">
                Supprimer
            </button>
          </form>
        <% }) %>
      <% } %>
      <form method="POST" action="/chef/patrouille">
        <input type="text" name="NomPatrouille" placeholder="Nom de la patrouille" required>
        <input type="submit"> 
      </form>
  </main>
  </body>
</html>