<%- include('../navbarScout') %>

  <main>
    <h1>Compte</h1>
    <p>Welcome to Compte</p>
    <% if (locals.alert) { %>
        <div class="alert alert-<%= locals.alert.type %>" role="alert">
            <%= locals.alert.text %>
        </div>
      <% } %>
      <% if (locals.results) { %>
        <form method="POST" action="/scout/compte?_method=PUT">
            <input type="text" name="LastName" placeholder="Nom" value="<%= locals.results[0].Nom %>" required>
            <input type="text" name="FirstName" placeholder="Prénom" value="<%= locals.results[0].Prenom %>" required>
            <input type="date" name="BirthDate" placeholder="Date de naissance" value="<%= locals.results[0].DateNaissance %>" required>
            <input type="password" name="Password" placeholder="Mot de passe" required>
            <input type="password" name="VerifyPassword" placeholder="Vérification mot de passe" required>
            <input type="submit"> 
        </form>
      <% } %>
      <form method="POST" action="/scout/quitter?_method=PUT">
        <button class="btn btn-danger" type="input">
            Quitter patrouille
        </button>
      </form>
      <form method="POST" action="/scout/suppression?_method=DELETE">
        <button class="btn btn-danger" type="input">
            Supprimer compte
        </button>
      </form>
  </main>
  </body>
</html>