<%- include('../navbarScout') %>

  <main>
    <h1>Evenement</h1>
    <p>Welcome to Evenement</p>
    <% if (locals.alert) { %>
        <div class="alert alert-<%= locals.alert.type %>" role="alert">
            <%= locals.alert.text %>
        </div>
      <% } %>
      <% if (locals.norequest) { %>
            <%= locals.norequest.text %>
      <% } %>
      <% if (locals.results) { %>
        <% results.forEach(element => { %>
          <%= element.DateEvenement %>
          <%= element.NomType_E %>
        <% }) %>
      <% } %>
  </main>
  </body>
</html>