<%- include('../navbarScout') %>

  <main>
    <h1>Materiel</h1>
    <p>Welcome to Materiel</p>
    <% if (locals.alert) { %>
        <div class="alert alert-<%= locals.alert.type %>" role="alert">
            <%= locals.alert.text %>
        </div>
      <% } %>
      <% if (locals.norequest) { %>
            <%= locals.norequest.text %>
      <% } %>
      <% if (locals.results) { %>
        <% results.forEach(element => { %>
          <%= element.NomMateriel %>
          <%= element.NomType_M %>
          <%= element.Quantite %>
          <form method="POST" action="/scout/materiel/less/<%= element.IdMateriel %>?_method=PUT">
            <button class="btn btn-danger" type="input">
                -
            </button>
          </form>
          <form method="POST" action="/scout/materiel/more/<%= element.IdMateriel %>?_method=PUT">
            <button class="btn btn-danger" type="input">
                +
            </button>
          </form>
        <% }) %>
      <% } %>
  </main>
  </body>
</html>