<!DOCTYPE html>
<html>
  <head>
    <title>Patrouille</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  </head>
  <body>
    <a href="/scout/deconnexion">
      <button class="btn btn-danger" type="button">
          Deconnexion
      </button>
    </a>
    <h1>Patrouille</h1>
    <p>Welcome to Patrouille</p>
    <% if (locals.alert) { %>
        <div class="alert alert-<%= locals.alert.type %>" role="alert">
            <%= locals.alert.text %>
        </div>
      <% } %>
      <% if (locals.norequest) { %>
            <%= locals.norequest.text %>
      <% } %>
      <% if (locals.results) { %>
        <% results.forEach(element => { %>
          <%= element.Nom %>
          <%= element.Prenom %>
          <%= element.DateNaissance %>
        <% }) %>
      <% } %>
      <a href="/scout/evenement">
        <button class="btn btn-danger" type="button">
            Evenement
        </button>
      </a>
      <a href="/scout/materiel">
        <button class="btn btn-danger" type="button">
            Materiel
        </button>
      </a>
      <a href="/scout/compte">
        <button class="btn btn-danger" type="button">
            Compte
        </button>
      </a>
  </body>
</html>