<%- include('../navbarScout') %>

  <main>
    <h1>Patrouille</h1>
    <p>Welcome to Patrouille</p>
    <% if (locals.alert) { %>
        <div class="alert alert-<%= locals.alert.type %>" role="alert">
            <%= locals.alert.text %>
        </div>
      <% } %>
      <% if (locals.norequest) { %>
            <%= locals.norequest.text %>
      <% } %>
      <% if (locals.results) { %>
        <% results.forEach(element => { %>
          <%= element.Nom %>
          <%= element.Prenom %>
          <%= element.DateNaissance %>
        <% }) %>
      <% } %>
  </main>
  </body>
</html>